.right {
    float: right;
}

header {
    height: 400px;
    background: #103754;
}

body {
    background: #9dcaeb;
    text-align: left;

}

h2 {
    color: #FFFFFF;
    font-size: 60px;
}
h1 {
    color: #FFFFFF;
}

.btn {
    display: inline-block;
    background: #4D6B82;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
}













