.right {
    float: right;
}

header {
    height: 400px;
    background: #103754;
}

body {
    background: #9dcaeb;
    text-align: left;

}

h2 {
    color: #FFFFFF;
    font-size: 60px;
}
h1 {
    color: #FFFFFF;
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #4D6B82; /* цвет фона    #5557BA*/
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
    font-size: 15px;
}













